# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
**/*.o

# temporary files
.DS_Store
.cache

# model files
**/*.pb
**/*.onnx

# vscode stuff
vscode/
__pycache__/